:root {
  --color1: #080808;
  --color2: #1a0947;
  --color5: #490963;
  --color6: #690707;
  --color7: #200101;
  --color3: #ddbaba;
  --color4: #fc0000;
}


@font-face {
  font-family: 'dastnevis';
  src: url('./assets/fonts/danstevis.otf');
}

@font-face {
  font-family: 'ordibehesht';
  src: url('./assets/fonts/A\ Ordibehesht\ shablon.TTF');
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  direction: rtl;
  font-family: 'dastnevis';
  background:
    linear-gradient(45deg, var(--color1), var(--color2), var(--color5), var(--color6), var(--color7));
  background-size: 300% 300%;
  animation: color 10s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}